.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.wrapper {
  font-family: "Source Sans Pro", sans-serif;
  width: 1100px;
  margin: auto;
  transition: all 1s ease;
}

.header-backround {
  width: 100%;
  height: 45px;
  background-color: rgb(163, 195, 195);
}

.header {
  display: flex;
  /* justify-content: space-around; */
}

.title-text {
  font-family: "Source Sans Pro", sans-serif;
  margin: 8px 30px;
  display: block;
  font-size: 2vmin;
}
.content {
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.weather-parametr {
  position: relative;
  display: block;
  margin-top: 25px;
  padding-top: 50px;
  width: 500px;
  height: 300px;
  background: rgba(0, 136, 211, 0.1);
  background-repeat: no-repeat;
  border-radius: 25px;
  border: 1px solid green;
}

.text-content {
  font-family: "Source Sans Pro", sans-serif;
  position: absolute;
  width: 400px;
  bottom: 50px;
  left: 50px;
  font-size: calc(12px + 2vmin);
}

/* .text-content:hover {
  border-bottom: 1px solid blue;
  cursor: pointer;
  transition: all 1s ease;
} */

.text-content:before,
.text-content:after {
  content: "";
  position: absolute;

  bottom: -10px;
  width: 0;
  left: 50%;
  height: 5px;
  background: #00c0ff;
  background-repeat: no-repeat;
  transition: all 1s ease;
}

.text-content:hover:before,
.text-content:hover:after {
  width: 50%;
}
.text-content:hover:before {
  transform: translateX(-100%);
}

.name-city {
  margin: 0;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
